<div class="modal fade" id="ajaxWaitingModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">

		  <div class="modal-dialog modal-sm modal-vertical-centered-for-ajax_waiting" >

		    <div class="modal-content ">
		      <div class="modal-header">
		        <h5>Processing.....</h5>
		      </div>
		      <div class="modal-body">
		        <div id="ajaxWaiting" class="ajaxWaiting">
					<img src="images/progressBar.gif">
				</div>

		      </div>
		      
		    </div>

			

		  </div>
		</div>
