
.modal-vertical-centered-for-ajax_waiting {
  transform: translate(0, 200%) !important;
  -ms-transform: translate(0, 200%) !important; /* IE 9 */
  -webkit-transform: translate(0, 200%) !important; /* Safari and Chrome */
}