

<div class="row">

	<div class="col-md-12">
		<ol class="breadcrumb">
			<li>系統管理</li>
			<li class="active">系統參數設定</li>
		</ol>

		<div class="form-horizontal well well-sm">

						<fieldset>

							<div class="form-group">
								<label class="col-md-2 control-label">Host Name</label>
						        <div class="col-md-3">
						          	<input [(ngModel)]="sysSetting.hostname" class="form-control" placeholder="Ex: 192.168.1.254" type="text">
						        </div>
						        <label class="col-md-2 control-label">PORT</label>
						        <div class="col-md-3">
						            <input [(ngModel)]="sysSetting.port" class="form-control" placeholder="Ex: 22" type="number" max="1000" min="1" step="1">
						        </div>
						        
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">帳號</label>
						        <div class="col-md-3">
						            <input [(ngModel)]="sysSetting.loginName" class="form-control" placeholder="帳號" type="text">
						        </div>
						        <label class="col-md-2 control-label">密碼</label>
						        <div class="col-md-3">
						            <input [(ngModel)]="sysSetting.password" class="form-control" placeholder="密碼" type="password">
						        </div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">使用者Device上限</label>
						        <div class="col-md-3">
						            <input [(ngModel)]="sysSetting.deviceLimit" class="form-control" placeholder="Ex: 5" type="number" max="1000" min="1" step="1">
						        </div>
						        
						        
							</div>

							<div class="form-group">
						        <div class="col-md-offset-2 col-md-2">
						            <button [disabled]="!sysSettingValid" (click)="getSystemStatus()" type="button" class="btn btn-success btn-block" disabled>
										<span class="glyphicon glyphicon-link" aria-hidden="true">連線測試</span>
									</button>
						        </div>

						        <div class="col-md-3">
						            <button [disabled]="!sysSettingValid" (click)="updateSysSetting()" type="button" class="btn btn-primary btn-block" disabled>
										<span class="glyphicon glyphicon-pencil" aria-hidden="true">更新設定</span>
									</button>
						        </div>

						        <div *ngIf="!sysSettingValid" class="col-md-offset-2 col-md-2">
						            <button [disabled]="sysSettingValid" (click)="onSubmitInitial()" type="button" class="btn btn-warning btn-block">
									初始化設定
									</button>
						        </div>

							</div>

						</fieldset>

		</div>

	</div>

</div>


		
